/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body,
* {
  line-height: 1;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px 0;
}

section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}

a {
  text-decoration: none;
}

a:visited {
  color: #000;
}

#introduction {
  display: flex;
  align-items: center;
}

#introduction figure {
  flex: 1;
}

#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}

#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}

#portfolio h2 {
  text-align: center;
  margin-bottom: 51px;
}

.portfolio__filtre {
  display: flex;
  justify-content: center;
}

/*Bouton filtre*/
.btn__round {
  height: 37px;
  border: 1px solid #1d6154;
  border-radius: 60px;
  transition: 0.3s ease-in-out;
}

.portfolio__filtre span {
  display: flex;
  margin: 0 10px 60px 0px;
  align-items: center;
  padding: 0 20px;
  font-family: "Syne";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #1d6154;
}

.portfolio__filtre .btn__round:hover {
  color: #fff;
  background: #1d6154;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}

/* Formulaire Login */
#login {
  display: flex;
  flex-direction: column;
}

#login h2 {
  margin: 162px 0 37px 0;
  text-align: center;
}

#login form {
  display: flex;
  flex-direction: column;
  align-self: center;
}

#login label {
  font-family: "Work Sans";
  margin-bottom: 7px;
}

#login input {
  width: 379px;
  height: 51px;
  margin-bottom: 37px;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login span {
  text-align: center;
  color: #3d3d3d;
  text-decoration: underline;
}

#login a:visited {
  color: #3d3d3d;
}

/* Fin Formulaire Login */

#contact {
  width: 50%;
  margin: auto;
}

#contact > * {
  text-align: center;
}

#contact h2 {
  margin-bottom: 20px;
}

#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
  margin: 2em 0 1em 0;
}

#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  cursor: pointer;
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px !important;
  text-align: center;
  border-radius: 60px;
  transition: 0.3s;
}

input[type="submit"]:hover {
  width: 180px;
  background-color: #0e2f28;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

#login .error-email,
#login .error-password {
  font-weight: 700;
  margin-bottom: 10px;
  color: red;
  text-decoration: none;
  text-align: left;
}

/****** Debut style Modal **********/
#modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 631px;
  height: 731px;
  border-radius: 10px;
  background-color: #fff;
  opacity: 1;
  transform: translate(-50%, -50%);
}

.modal__content {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.modal__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 0 30px;
}

.close {
  cursor: pointer;
  font-size: 25px;
  margin-left: auto;
}

#modal h3 {
  margin-bottom: 46px;
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  font-family: "Work Sans";
}

.modal__gallery {
  display: flex;
  width: 70%;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.modal__gallery figure {
  display: flex;
  flex-direction: column;
  margin: 0 7px 11px 0;
}

.modal__gallery img {
  width: 78px;
  height: 104px;
}

.modal__button {
  display: flex;
  font-family: Syne, sans-serif;
  font-weight: 700;
  color: #fff;
  background-color: #1d6154;
  margin-bottom: 23px;
  width: 237px;
  height: 36px;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.modal__button:disabled {
  cursor: auto;
  background-color: #a7a7a7;
  border: none;
}

.modal__line {
  position: relative;
  width: 420px;
  margin: 47px 0 38px 0;
  left: 50%;
  transform: translateX(-50%);
  color: #b3b3b3;
}

.modal__delete {
  font-family: Syne, sans-serif;
  text-align: center;
  color: #d65353;
}

/***************** header a modifier lors du passage en mode édition **************************
 header : margin: 88px 0; +38px en haut
******************************************************************************************/
.edition {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 59px;
  justify-content: center;
  background-color: #000;
}

.edition__content {
  display: flex;
  align-items: center;
}

.edition__content i,
.edition__content span {
  color: #fff;
}

.edition__content span {
  margin: 0 20px 0 5px;
}

.btn__edition {
  display: flex;
  width: 216px;
  background-color: #fff;
  align-items: center;
  justify-content: center;
}

.edition__modification {
  margin: 15px auto 0 auto;
  width: 456px;
}

.projet__edition {
  cursor: pointer;
  position: relative;
  top: -73px;
  left: 353px;
}

.mode-edition {
  display: none;
}

figure .delete-image {
  position: relative;
  top: 20%;
  left: 70%;
  height: 17px;
  width: 17px;
  border-radius: 2px;
  background-color: #000;
}

figure .fa-trash-can {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box-add-image {
  display: flex;
  flex-direction: column;
  width: 420px;
  height: 169px;
  margin: 0 auto 56px auto;
  background: #e8f1f7;
  border-radius: 3px;
  /*** !IMPORTANT : Problème avec la bordure *****/
  border: 1px solid #e8f1f7;
}

.box-preview-image {
  width: 58px;
  height: 46px;
  margin: 28px auto 0 auto;
  background: #e8f1f7;
}

#image__preview {
  display: none;
  height: 169px;
  width: 129px;
  align-self: center;
}

.btn__add-image {
  cursor: pointer;
  display: flex;
  width: 176px;
  height: 36px;
  margin: 31px auto 7px auto;
  justify-content: center;
  align-items: center;
  color: #306685;
  background-color: #cbd6dc;
  font-family: "Work Sans", serif;
  font-weight: 500;
  font-size: 14px;
  border: none;
}

.image__details {
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  font-family: "Work Sans", serif;
  margin: 0 auto;
}

/*** Formulaire pour l'ajout de photo ***/
.formulaire {
  display: flex;
  width: 420px;
  flex-direction: column;
  margin: 0 auto;
}

.input-category,
.input-title {
  width: 420px;
  height: 51px;
  margin: 0 auto;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  border: none;
}

.formulaire .label {
  margin-bottom: 10px;
}

.input-title {
  margin-bottom: 21px;
}

.input-category,
.input-title {
  padding: 0 20px;
}

/*** Input pour l'upload de l'image ***/
#upload_file {
  display: none;
}

.fa-image {
  display: flex;
  font-size: 50px;
  align-items: center;
  color: #b9c5cc;
  justify-content: center;
}

/* Cibles les éléments enfants du header de la modale : la croix et la fleche */
.modal__header > * {
  cursor: pointer;
}
