@import "color.scss";

body {
  min-height: 100vh;
}

.hide {
  display: none;
}
.main-content {
  flex: 1 0 auto;
  padding: 20px;
}

/// animation du p
///
@keyframes ex {
  from {
    margin-top: 60px;
    height: 0%;
  }

  to {
    margin-top: 0px;
    height: 100%;
  }
}
