@import "color.scss";

body {
  min-height: 100vh;
}

.container-about {
  width: 1024px;
}

.main-content {
  flex: 1 0 auto;
  padding: 20px;
}

@media (max-width: 1024px) {
  .navLinks {
    width: 100%;
  }
  .main-container {
    width: 90% !important;
  }
  .container-about {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .main-container {
    width: 90% !important;
  }
  .container-about {
    width: 100%;
  }
}
