@import "color.scss";

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery {
  display: flex;
  width: 100%;
  border-radius: 25px;
  padding: 56px 0 0 0;
  margin: 43px 0 50px 0;
  flex-flow: row wrap;
  overflow: auto;
  justify-content: space-around;
  background-color: $secondary;
}

/* ================================================================= Responsive Mobile styles ********************************/

@media (max-width: 768px) {
  /* Responsive Mobile*/
  body {
    display: flex;
    flex-direction: column;
  }
  .main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .gallery {
    flex-direction: column;
    background-color: #fff;
    margin: 22px 0;
    padding: 0;
    .card {
      display: flex;
      width: 100%;
      justify-content: center;
      .cover {
        display: flex;
        width: 100%;
        justify-content: center;
        .imageCover {
          width: 90%;
          object-fit: cover;
        }
      }
    }
  }
}
