*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    font-size: 62.5%;
    font-family: Roboto, sans-serif;
}

h2 {

    font-size: 2.4rem;
    font-weight: 700;
}

a {
    color: #000;
    text-decoration: none;
}

a:visited {
    color: #000;
}

.box-shadow {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

img {
    object-fit: cover;
}

.anneau__loader {
    display: inline-block;
    width: 100%;
    position: fixed;
    z-index: 3;
    height: 100vh;
    background-color: #fff;
    opacity: 0;
    animation: vanish 3s forwards;
}

@keyframes vanish {
    0% {
        opacity: 1;
    }

    99% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0);
    }
}

.anneau__loader:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 0 auto;
    border-radius: 50%;
    border: 6px solid red;
    border-color: #9356DC transparent #FF79DA transparent;
    animation: ring-animation 1.5s infinite linear;
    position: relative;
    top: 40%;
}

@keyframes ring-animation {
    0% {
        transform: rotate(0deg);
        border-color: #9356DC transparent #9356DC transparent;
    }

    100% {
        transform: rotate(360deg);
        border-color: #FF79DA transparent #FF79DA transparent;
    }
}

/****** ANIMATION DU COEUR *********/
.heart__survol {
    transition: 1s ease-in-out;
    opacity: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heart__survol:hover {
    opacity: 1;
}

.fa-arrow-left {
    position: relative;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}

.txt-btn {
    margin-top: 2.7rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: #fff;
    align-self: center;
    justify-content: center;
    align-items: center;
}

.btn-arrondi {
    cursor: pointer;
    display: flex;
    width: 21.8rem;
    height: 5rem;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    border: .1rem solid #9356DC;
    border-radius: 2.5rem;
    box-shadow: 0rem .4rem 1rem rgba(0, 0, 0, 0.25);
    /* transform: matrix(1, 0, 0, -1, 0, 0); */
    transition: all .4s ease-in-out;
    border: none;
}

.btn-arrondi:hover {
    /* background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%); */
    box-shadow: 0rem .4rem 1.5rem rgba(0, 0, 0, 0.35);
    opacity: .8;

}

article {
    height: 6.9rem;
    width: 5.9rem;
    cursor: pointer;
}

hr {
    width: 4rem;
    position: relative;
    left: 5%;
    margin-bottom: 1.2rem;
    border: 2px solid #99E2D0;
}

/******** color *****/
.main-bg--color {
    color: #99E2D0
}

.main__container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/*************** HEADER *********************/
.site-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.site-header__titre {
    width: 100%;
    height: 6.3rem;
    display: flex;
    justify-content: center;
    padding: 1.4rem 0 .8rem 0;
    font-family: Shrikhand;
    color: #101010;
    font-size: 3rem;
}

.site-header__titre img {
    width: 16.2rem;
}

.site-header__recherche-ville {
    height: 5rem;
    display: flex;
    background-color: #EAEAEA;
    border-top: linear-gradient(180deg, rgb(147, 147, 147) 0%, #e3e1e1 20%) .2rem inset;
}

.form {
    width: 100%;
    box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, .15);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form input {
    font-size: 1.6rem;
    margin-left: 1.7rem;
    background-color: #EAEAEA;
    border: none;
}

.form input:focus {
    outline: none;
}

/******************** DESCRIPTION ****************************/
.description {
    display: flex;
    flex-direction: column;
    padding: 3.9rem 0 5.7rem 0;
    background: #F7F7F7;
}

.description__titre-section {
    width: 27.5rem;
    height: 6.8rem;
    text-align: center;
    align-self: center;
}

.description__contenu {
    width: 31.5rem;
    height: 4.6rem;
    font-size: 1.8rem;
    font-weight: 300;
    text-align: center;
    align-self: center;
}

/********************** PAGE MENU **********************/
.site-header a {
    height: 6.3rem;
    position: absolute;
    left: 5%;
}

.image__menu {
    width: 100%;
    height: 27.5rem;
    position: relative;
    top: 2rem;
}

.main__menu {
    position: relative;
    padding-bottom: 4rem;
    margin-bottom: -23px;
    z-index: 999;
    bottom: 2.3rem;
    border-radius: 4rem 4rem 0 0;
    background: #F6F6F6;
    display: flex;
    flex-direction: column;
}

.menu__titre {
    display: flex;
    position: relative;
    padding: 3.2rem 5% 4.2rem 5%;
}

.menu__titre h2 {
    font-family: Shrikhand;
    font-weight: 400;
    font-size: 2.8rem;
    margin-right: 5%;
}

.menu__heart i {
    height: 4.1rem;
    position: absolute;
    display: flex;
    align-items: center;
}

/********* ANIMATION DE LA SECTION MENU **************/
.section__menu {
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;
    animation: 2s menu_animation ease-in-out;
}

.section__menu:nth-of-type(2) {
    animation: 3s menu_animation ease-in-out;
}

.section__menu:nth-of-type(3) {
    animation: 4s menu_animation ease-in-out;
}

.section__menu h3 {
    padding: 0 0 1rem 5%;
    position: relative;
    font-weight: 300;
    font-size: 1.6rem;
}

.section__menu .article__container {
    /* min-width à 0 pour que la div check puisse slider */
    min-width: 0;
    width: 100%;
    padding: 1.2rem 1.5rem;
    display: flex;
    flex-direction: column;
}

.section__menu article {
    width: 90%;
    display: flex;
    margin-bottom: 1.2rem;
    overflow: hidden;
    background-color: #fff;
    border-radius: 1.5rem;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    align-self: center;
    transition: all 3s ease-in-out;
}

.article__sous-titre h4,
.article__titre {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.section__menu article .checked-hide {
    display: flex;
    flex-shrink: 0;
    width: 5.9rem;
    margin-right: -5.9rem;
    justify-content: center;
    align-items: center;
    background-color: #99E2D0;
    border-radius: 0px 15px 15px 0px;
    transition: all .3s ease-in-out;
}

.checked-hide i {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
    color: #99E2D0;
}

/****** Animation hover qui fait apparaitre le bouton check / slide de droite à gauche *****/
.section__menu article:hover .checked-hide {
    display: flex;
    width: 5.9rem;
    margin-right: 0;
}

/****** ANIMATION DE LA SECTION MENU (.section_menu) *******/
@keyframes menu_animation {
    0% {
        opacity: 0;
        position: relative;
        left: -100%;
    }

    50% {
        position: relative;
        left: 5%;
    }

    100% {
        opacity: 1;
        position: relative;
        left: 0%;
    }
}

.article__titre {
    font-size: 1.8rem;
    font-weight: 500;
}

.article__sous-titre {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 300;
}

.article__sous-titre h4 {
    font-weight: 300;
}

.article__prix {
    margin-left: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    justify-content: flex-end;
}

/********************** FONCTIONNEMENT **********************/
.fonctionnement {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding-top: 4.8rem;
    padding-bottom: 6.38rem;
}

.fonctionnement__titre-section {
    width: 85%;
    margin-bottom: 2.6rem;
    align-self: center;
}

.fonctionnement__contenu {
    display: flex;
    flex-direction: column;
}

.fonctionnement__contenu i {
    padding: 0 2.3rem 0 2.3rem;
}

.fonctionnement__contenu div {
    width: 85%;
    height: 7.2rem;
    background: #F6F6F6;
    border-radius: 2rem;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 2.5rem;
    display: flex;
    align-items: center;
    align-self: center;
    transition: .3s ease-in-out;
}

.fonctionnement__contenu_nombre {
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 50%;
    position: relative;
    left: -1.2rem;
    background-color: #9356DC;
    color: #fff;
    justify-content: flex-start;
    line-height: 2.4rem;
    text-align: center;
}

.fonctionnement__contenu div:hover {
    background-color: #F5EDFF;
}

/********************** RESTAURANT **********************/
.restaurant {
    display: flex;
    flex-direction: column;
    background-color: #F7F7F7;
    padding-top: 5.4rem;
    padding-bottom: 6.4rem;
}

.restaurant__titre-section {
    width: 85%;
    margin-bottom: 2rem;
    align-self: center;
}

.carte-test {
    display: flex;
    flex-direction: column;
}

.carte {
    position: relative;
    width: 85%;
    margin-bottom: 2rem;
    padding-bottom: 1.2rem;
    align-self: center;
    border-radius: 1.5rem;
}

.carte a {
    display: flex;
    flex-direction: column;
}

.carte-container {
    padding-left: 1.2rem;
    display: flex;
    flex-direction: column;
}

.carte__image {
    height: 20rem;
    width: 100%;
    object-fit: cover;
    border-radius: 1.5rem 1.5rem 0 0;
}

.carte__cadre-nouveau {
    height: 2.9rem;
    width: 8rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: #008766;
    display: flex;
    top: -18rem;
    position: relative;
    background-color: #99E2D0;
    border-radius: .2rem;
    align-items: center;
    align-self: end;
    margin-right: 1.5rem;
    justify-content: center;
}

.carte__cadre__cache {
    visibility: hidden;
}

.carte-container__nom {
    font-size: 1.8rem;
    font-weight: 700;
}

.carte-container__ville {
    font-weight: 300;
    font-size: 1.7rem;
}

.carte i {
    position: absolute;
    height: 4.1rem;
    width: 2rem;
    display: flex;
    align-items: center;
    top: -4rem;
    right: 5%;
}

.restaurant__like {
    height: 4.1rem;
    display: flex;
    position: absolute;
    width: 100%;
}


/******************** FOOTER ****************************/
.site-footer {
    background-color: #353535;
    display: flex;
    padding-top: 2.2rem;
    padding-bottom: 3.3rem;
}

.site-footer__contenu li {
    padding-bottom: .7rem;
}

.site-footer__contenu .fa-solid {
    margin-right: 1.1rem;
}

.site-footer__contenu a {
    color: #fff;
    font-size: 1.6rem;
    padding-left: 2.5rem;
    margin-bottom: .7rem;
}

.site-footer__contenu li:nth-child(1) {
    font-size: 1.8rem;
    font-family: Shrikhand;
    margin-bottom: 1.6rem;
}

/*****************************************************
                VERSION TABLETTE
******************************************************/
@media (min-width: 768px) and (max-width: 1023px) {

    .menu__titre {
        justify-content: center;
    }

    .section__menu {
        width: 80%;
        margin: 0 auto;
    }

    .site-footer__contenu {
        width: 100%;
        display: flex;
    }

    /* Place le footer en ligne et le centre au milieu de la page */
    ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

/*****************************************************
                VERSION DESKTOP
******************************************************/
@media (min-width: 1024px) {
    body {
        width: 100%;
    }

    .description__titre-section,
    .description__contenu {
        width: 100%;
    }

    .fonctionnement {
        margin: 0 auto;
        display: flex;
    }

    .fonctionnement__titre-section {
        width: 65%;
    }

    .fonctionnement__contenu {
        display: flex;
        width: 65%;
        margin: 0 auto;
        justify-content: space-between;
        flex-direction: row;
    }

    .fonctionnement__contenu div {
        width: 30%;
    }

    .restaurant {
        display: flex;
        flex-direction: column;
    }

    .restaurant__titre-section {
        width: 65%;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        padding-bottom: 4rem;
    }

    /***** carte ****/
    .carte {
        display: flex;
        flex-direction: column;
        width: 45%;
        margin-bottom: 5rem;
    }

    .carte-test {
        width: 65%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .carte a {
        width: 100%;
    }

    .carte img {
        width: 100%;
    }

    /*positionnement du coeur en valeur absolu*/
    .restaurant__like {
        position: absolute;
        left: 95%;
        width: 0rem;
    }

    .carte i {
        top: 232px;
    }

    /****** MENU ******/
    .menu__titre {
        justify-content: center;
    }

    .main__menu {
        width: 75%;
        align-self: center;
    }

    .section__menu {
        width: 75%;
        margin: 0 auto;
    }

    /************** FOOTER *****************/
    .site-footer {
        padding: 6.4rem 0 3rem 0;
        height: 11.4rem;
        display: flex;
        justify-content: end;
    }

    .site-footer__contenu {
        display: flex;
    }

    .site-footer__contenu ul {
        display: flex;
        margin-right: 10rem;
    }

    /* le lien Ohmyfood du footer passe en dernière position */
    .site-footer__contenu li:nth-child(1) {
        margin-left: 8rem;
        order: 6;
    }
}